/* Resset basico */
* {
    padding: 0;
    margin: 0;
  box-sizing: border-box;
}

body {
    padding: 24px;
    background-color: rgb(102, 0, 0);
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(3, 1fr);

    gap: 10px; /* Define al espacio entre filas y columnas pero no con los bordes */

    row-gap: 48px; /* define espaxcios entre filas */

    column-gap: 12px; /* Define el espacio entre columnas */

    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 24px;
    background-color: goldenrod;

    grid-auto-flow: row;
    grid-auto-flow: column;

   direction: rtl;/* Esta propiedad permite cambiar direccion del flujo Grid. No pertenece a CSS-Grid */
}

.item-1 {
background-color: aqua;
font-size: 24px;
text-align: center;
}

.item-2 {
    background-color: chartreuse;
    font-size: 24px;
}

.item-3 {
    background-color: blueviolet;
    font-size: 24px;
}

.item-4 {
    background-color: chocolate;
    font-size: 24px;
}

.item-5 {
    background-color: purple;
    font-size: 24px;
}