/* Resset basico */
* {
    padding: 0;
    margin: 0;
  box-sizing: border-box;
}

body {
    padding: 24px;
    background-color: rgb(102, 0, 0);
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(3, 1fr);

    gap: 24px; /* Define al espacio entre filas y columnas pero no con los bordes */

    row-gap: 48px; /* define espaxcios entre filas */

    column-gap: 12px; /* Define el espacio entre columnas */

    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
}

.item-1 {
background-color: aqua;
}

.item-2 {
    background-color: chartreuse;
}

.item-3 {
    background-color: blueviolet;
}

.item-4 {
    background-color: chocolate;
}

.item-5 {
    background-color: purple;
}