/* Resset basico */
* {
    padding: 0;
    margin: 0;
  box-sizing: border-box;
}

body {
    padding: 24px;
    background-color: rgb(102, 0, 0);
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
    "header header header"
    "main main sidebar"
    "footer footer footer";
    width: 500px;
    height: 500px;
    margin: 0 auto; /* Centra elementos con un ancho fijo en el contenedor */
    background-color: rgb(250, 250, 255);
}

.header {
    grid-area: header;
    background-color: aqua;
}

.main {
    grid-area: main;
    background-color: blue;
}

.sidebar {
    grid-area: sidebar;
    background-color: blueviolet;
}

.footer {
     background-color: brown;
    grid-area: footer;

}